*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    min-height:100vh;
}
.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Product{
    width:20vw;
    height:30vh;
    border:2px solid black;
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 3vw;
}
button{
    padding:1vw 2vw;
    border:none;
    background-color: blue;
    color:white;
    outline:none;
}
.wishlist{
    width: 100%;
    height:30vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid black;
    margin:1vw 2vw;
}
.wishlist div{
    width:18%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}